<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Requests Plot</title>
    <!-- Include Plotly library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <h1>Real-Time Plots</h1>
    <h2>Auto-scalingCloudMicroservices</h2>
    <div name="charts">
        <div id="workload-plot">

        </div>
        <div id="avgResponseTime-plot">

        </div>
        <div id="replicas-plot">

        </div>

    </div>

    <!-- JavaScript to fetch data and update the chart -->
    <script>
        var data1 = [
            {
                x: [],
                y: [],
                type: 'bar'
            },
        ];
        var data2 = [
            {
                x: [],
                y: [],
                type: 'bar'
            },
        ];
        var data3 = [
            {
                x: [],
                y: [],
                type: 'bar'
            },
        ];

        var layout_workload = {
            bargap: 0,
            title: 'Work Load Plot',
            xaxis: {
                title: 'Time Passed(seconds)',
                showgrid: false,
                zeroline: false
            },
            yaxis: {
                title: 'Work Load(number of requests)',
                showline: false
            }
        };

        var layout_avg_response = {
            bargap: 0,
            title: 'Average Response Plot',
            xaxis: {
                title: 'Time Passed(seconds)',
                showgrid: false,
                zeroline: false
            },
            yaxis: {
                title: 'Average Response Time(seconds)',
                showline: false
            }
        };

        var layout_replica = {
            bargap: 0,
            title: 'Number of Replicas Plot',
            xaxis: {
                title: 'Time Passed(seconds)',
                showgrid: false,
                zeroline: false
            },
            yaxis: {
                title: 'Number of Replicas',
                showline: false
            }
        };

        Plotly.newPlot('workload-plot', data1, layout_workload);
        Plotly.newPlot('avgResponseTime-plot', data2, layout_avg_response);
        Plotly.newPlot('replicas-plot', data3, layout_replica);


        function requestData() {
            fetch('/data') // Change this URL to match your Flask route
                .then(response => response.json())
                .then(data => {
                    const time = data[0].time;
                    const avgResponseTime = data[0].a;
                    const load = data[0].l;
                    const replicasCount = data[0].r;
                    var update_w = {
                        x: [time],
                        y: [load]
                    };
                    var update_a = {
                        x: [time],
                        y: [avgResponseTime],
                        type: 'bar'
                    };
                    var update_r = {
                        x: [time],
                        y: [replicasCount],
                        type: 'bar'
                    };
                    Plotly.update('workload-plot', update_w);

                    Plotly.update('avgResponseTime-plot', update_a);
                    Plotly.update('replicas-plot', update_r);

                    setTimeout(requestData, 10000);
                })
                .catch(error => console.error('Error fetching data:', error));
        }

        requestData(); // Initial data fetch

    </script>
</body>

</html>